@import url('https://fonts.cdnfonts.com/css/star-wars');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    color: #fff;
}

body{
    background-image: url(./assets/universo-bg.jpg);
    background-size: cover;
}

header{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logotipo{
    width: 250px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img{
    width: 40%;
    height: auto;
}

.logo-text{
    font-family: 'Star Wars';
    font-size: 1rem;
}

.social-midia{
    width: 130px;
    display: flex;
    justify-content: space-between;
}

i{
    font-size: 1.2rem;
}

i:hover {
    color: gold;
}

.main-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px 0;
}

.main-text{
    font-family: 'Star Wars', sans-serif;
    margin-bottom: 20px;
    color: gold;
    font-weight: 300;
}

.main-content{
    display: flex;
    justify-content: center;
    width: 90%;
    flex-wrap: wrap;
    margin-top: 30px;
    column-gap: 20px;
    row-gap: 10px;
    padding: 0 20px;
}

.card{
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items:end;
    justify-content: end;
    border-radius: 8px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.5s;
}

.card:hover{
    transform: scale(1.02);
}

.card-img{
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.card-text-container{
    background-color: rgb(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 30px;
    font-size: 15px;
    border-radius: 10px;
    margin-left: 6px;
    font-family:'Star Wars', sans-serif;
}

#card-text{
    color: gold;
}

.buttons{
    width: 100%;
    height: 50px;
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-around;
}

.next-button{
    width: 70px;
    height: 25px;
    background-color: gold;
    color: #000;
    border-radius: 3px;
}

.next-button:hover{
    background-color: #000;
    color: gold;
}

.previous-button{
    width: 70px;
    height: 25px;
    background-color: gold;
    color: #000;
    border-radius: 3px;
}

.previous-button:hover{
    background-color: #000;
    color: gold;
}

#previous-button{
    visibility: hidden;
}

footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    margin: 40px 0 20px 0;
  }

.footer-text{
    font-family:'Star Wars', sans-serif;
    font-size: 1.5rem;
}